<div class="col justify-content-center m-5">
    <div class="row">
        <h4 class="m-auto">Thank you for your registration! A verification mail has been sent! </h4>
        <h4 class="mx-auto my-4">Please click the Link in the mail to finish the registration. </h4>
    </div>
</div>