@model IdentityServer.Models.AuthViewModels.ForgotPasswordViewModel

<h2>@SharedResource.FORGOT_YOUR_PASSWORD?</h2>
<h4>@SharedResource.FORGOT_YOUR_PASSWORD_ENTER_EMAIL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">@SharedResource.EMAIL</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedResource.SUBMIT</button>
        </form>
    </div>
</div>
