@using Microsoft.Extensions.Configuration
@inject IConfiguration Config;

<h1>@SharedResource.RESET_PASSWORD_CONFIRMATION.</h1>
<p>
    @SharedResource.RESET_PASSWORD_YOUR_PASSWORD_HAS_BEEN_RESET <a href="@((object)Config.GetValue<string>("Urls:ReactClient"))">@SharedResource.RESET_PASSWORD_CLICK_HERE_TO_LOGIN</a>.
</p>