<div class="col justify-content-center m-5">
    <div class="row">
        <h2 class="m-auto">Thank you for verifying your email!</h2>
    </div>
    <div class="row my-5">
        <h3 class="m-auto">
            Click <a href="/Auth/Login">here</a> to login.
        </h3>
    </div>
</div>