<AuthorizeView>
    <Authorized>
        <section id="about-this-page" class="container position-relative" style="margin-top: -70px">
            <div class="bg-white box-shadow py-5 px-4 px-sm-5">
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <div class="home-heading">About this page</div>
                        <hr class="mb-4 mt-0 text-muted" style="
                                border: 3px solid;
                                width: 300px 
                            "/>
                        <h5 class="mb-5 mt-1">
                            Hello Folks! Awsome, you found your way here! My name is Andreas Butzhammer and this is my little show page with a couple of really interesting programming technologies.
                        </h5>
                    </div>
                </div>
                <hr>
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-10 pb-4 mb-3">
                        <div class="row justify-content-end mb-2">
                            <div class="col bg-primary text-center">
                                <h5 class="d-inline-block  text-white px-5 py-1">Blazor WASM</h5>
                            </div>
                        </div>
                        <div class="row align-items-center  justify-content-end">
                            <div class="col text-center">
                                <img height="230px" src="/images/icon-512.png" alt="">
                            </div>
                            <div class="col justify-content-start">
                                <h5 class="text-muted pb-1 text-right">
                                    Microsofts new interactive web UI with C# running on WebAssembly.
                                </h5>
                                <p class="text-right">
                                    The complete frontend was developed using Blazor Webassembly. This technology enables a high reusability of C# code between back and frontend.
                                    ...aaaand fianlly I can use my existing .NET-libraries in the frontent ;-).
                                    And even better: Blazor meets - what you can't say about all Microsoft surface technologies - the open web standards! I'am happy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-10 pb-4 mb-3">
                        <div class="row justify-content-start mb-2">
                            <div class="col bg-warning text-center">
                                <h5 class="d-inline-block  text-white px-5 py-1">Identity Server 4</h5>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="text-muted pb-1">
                                    The OpenId Connect and OAuth 2.0 framework for ASP.NET Core.
                                </h5>
                                IdentityServer4 is in combination with Asp.Net-core a common but powerful way to implement authentication.
                                In this case I have configured a standalone IdentityServer4 with a user interface. Each
                                customized to my requirements and with a user database separated from the data database.
                            </div>
                            <div class="col text-center">
                                <img height="230px" src="/images/identityserver4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-10 pb-4 mb-3">
                        <div class="row justify-content-end mb-2">
                            <div class="col bg-success text-center">
                                <h5 class="d-inline-block  text-white px-5 py-1">HTML5, Bootstrap and CSS3</h5>
                            </div>
                        </div>
                        <div class="row align-items-center  justify-content-end">
                            <div class="col text-center">
                                <img height="230px" src="/images/css_html_bootstrap.png" alt="">
                            </div>
                            <div class="col justify-content-start">
                                <h5 class="text-muted pb-1 text-right">
                                    Microsofts new interactive web UI with C# running on WebAssembly.
                                </h5>
                                <p class="text-right">
                                    The complete frontend was developed using Blazor Webassembly. This technology enables a high reusability of C# code between back and frontend.
                                    ...aaaand fianlly I can use my existing .NET-libraries in the frontent ;-).
                                    And even better: Blazor meets - what you can't say about all Microsoft surface technologies - the open web standards! I'am happy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-10 pb-4 mb-3">
                        <div class="row justify-content-start mb-2">
                            <div class="col bg-danger text-center">
                                <h5 class="d-inline-block text-white px-5 py-1">SignalR, Entiy Framework, Reactive Extensions, Dynamic Data......</h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 m-5 text-center">
                                <h5 class="text-muted text-center pb-3">
                                    Go to GitHub and browse the Code
                                </h5>
                                    <button class="btn btn-danger ">Source Code</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <AboutMe/>
    </Authorized>
</AuthorizeView>